.container{
    margin-top: 2rem;
}

h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-add{
    padding: 16px 22px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 3%;
}

.table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: rgb(248, 247, 247);}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(202, 202, 202);
  color: black;
}

.table tr{
    text-align: center;
}

.table td{
    padding: 6px;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn-delete,
.btn-edit,
.btn-view{
    padding: 3px 5px;
    font-size: 10px;
    cursor: pointer;
}

.btn-delete fa-icon{
    color: rgb(190, 13, 13);
}

.btn-view fa-icon{
    color: rgb(12, 12, 192);
}

.btn-edit fa-icon{
    color: green;
}

.range{
    display: flex;
    flex-direction: row;;
    align-items: center;
    gap: 5px;
}
