.container {
  margin: 0 10%;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}

h2 {
  font-size: 30px;
}

.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 3px -10px;
  padding: 10px;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  font-size: large;
}

input {
  display: block;
  width: 100%;
  padding: 10px 7px;
  border: 0px solid #ccc;;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: large;
  cursor: pointer;
  border-radius: 7px;
}

button:hover {
  background-color: #45a049;
}