<div class="container">
    <div class="card-container" routerLink="/employees">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="employeesIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Employees</h2>
            </div>
        </div>
    </div>
    <div class="card-container" routerLink="/departments">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="departmentIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Departments</h2>
            </div>
        </div>
    </div>
    <div class="card-container" routerLink="/leaves-type">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="leaveTypeIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Leave Types</h2>
            </div>
        </div>
    </div>
    <div class="card-container" routerLink="/leaves">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="leaveRequestsIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Leave Requests</h2>
            </div>
        </div>
    </div>
</div>
