<div class="container">
    <div class="card-container" routerLink="/holidays">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="holidaysIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Holidays</h2>
            </div>
        </div>
    </div>
    <div class="card-container" routerLink="/departments">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="departmentIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Departments</h2>
            </div>
        </div>
    </div>
    <div class="card-container" routerLink="/employees">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="employeesIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Employees</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-container" routerLink="/leaves-type">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="leaveTypeIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Leave Types</h2>
            </div>
        </div>
    </div>
    <div class="card-container" routerLink="/leaves">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="leaveRequestsIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>All Leave Requests</h2>
            </div>
        </div>
    </div>
    <div class="card-container" routerLink="/hod-leaves">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="leaveRequestsIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>HODs Leave Requests</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-container" routerLink="/leaves/create-leave-request">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="leaveRequestsIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Request a Leave</h2>
            </div>
        </div>
    </div>
    <div class="card-container" routerLink="/my-leave-requests">
        <div class="card">
            <div class="card-img">
                <fa-icon [icon]="leaveRequestsIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>My Leave Requests</h2>
            </div>
        </div>
    </div>
    <div class="card-container-bal">
        <div class="card-bal">
            <div class="card-img">
                <fa-icon [icon]="balanceIcon"></fa-icon>
            </div>
            <div class="card-title">
                <h2>Leave Balance = {{employeeLeaveBalance}}</h2>
            </div>
        </div>
    </div>
</div>

